.price-box .month {
  position: relative;
}
.price-box .month::after {
  content: '(VAT 포함)';
  position: absolute;
  bottom: -20px;
  color: #000;
  right: 0;
  font-size: 1.3rem;
  font-weight: 400;
}
.price-box .task-list li {
  position: relative;
  padding-left: 3.5rem;
}
.price-box .task-list li::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background: url('/icons/check.svg') no-repeat 0 0;
  background-size: 100%;
  width: 2.4rem;
  height: 1.8rem;
}
.price-box .task-list .tooltip {
  position: relative;
}
.price-box .task-list .tooltip::after {
  content: '';
  position: absolute;
  right: -1.6rem;
  top: 2px;
  background: url('/icons/tooltip.svg') no-repeat 0 0;
  background-size: 100%;
  width: 1.6rem;
  height: 1.6rem;
}
.price-box + .link-btn {
  position: absolute;
  bottom: 0;
  transform: translateX(100%);
  left: 80%;
  width: max-content;
}
